recursive-include orangecontrib *.pyx
recursive-include orangecontrib *.py

recursive-include orangecontrib/elettra/oasys/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/elettra/syned/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/elettra/syned/data *
recursive-include orangecontrib/elettra/xoppy/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/elettra/xoppy/data *
recursive-include orangecontrib/elettra/shadow4/widgets *.png *.svg *.ico *.jpg *.bmp *.txt
recursive-include orangecontrib/elettra/wofry/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/elettra/srw/widgets *.png *.svg *.ico *.jpg *.bmp

include README.md
include LICENSE
